html,
body {
    /* padding: 25px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    width: 100vw;
}

.navbar {
    padding-left: 25px;
    grid-column-start: 1;
    grid-column-end: -1;
}

.login {
    padding: 25px 50px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.banner {
    grid-column-start: 3;
    grid-column-end: -1;
    background-color: gray;
}

footer {
    grid-column-start: 1;
    grid-column-end: -1;
}